@use '../../scss/co';

.container {
    padding: 10px;
    border-radius: 10px;

    &.__card1 {
        
        color: co.$White;
        grid-column: span 2;
        background-color: co.$Moderateviolet;

        &.__info{
            & .Story{
                color: hsla(0, 0%, 100%, 0.504) ;
            }
        }

        & .imgCard {

            & img{
                border: 4px solid  hsla(0, 0%, 100%, 0.504) 

            }

            & .name_titleCard{
                & .academic{
                    color:  hsla(0, 0%, 100%, 0.504) ;
                }
            }
        }

    }

    &.__card2 {
        color: co.$White;
        grid-column: 3;
        background-color: co.$Verydarkgrayishblue;


        &.__info{
            & .Story{
                color: hsla(0, 0%, 100%, 0.504) ;
            }
        }

        & .imgCard {


            & .name_titleCard{
                & .academic{
                    color:  hsla(0, 0%, 100%, 0.504) ;
                }
            }
        }
    }

    &.__card3 {
        color: hsl(217, 19%, 35%);
        grid-row: 2;
        background-color: co.$White;

        &.__info{
            & .Story{
                color: hsla(217, 19%, 35%, 0.501);
            }
        }

        & .imgCard {

            & .name_titleCard{
                & .academic{
                    color:hsla(217, 19%, 35%, 0.501);
                }
            }
        }

        
    }

    &.__card4 {
        color: co.$White;
        grid-row: 2;
        grid-column: span 2;
        background-color: co.$Verydarkblackishblue;

        &.__info{
            & .Story{
                color: hsla(0, 0%, 100%, 0.504) ;
            }
        }

        & .imgCard {

            & img{
                border: 4px solid  co.$Moderateviolet

            }

            & .name_titleCard{
                & .academic{
                    color:  hsla(0, 0%, 100%, 0.504) ;
                }
            }
        }
    }

    &.__card5 {
        color: co.$Verydarkgrayishblue;
        grid-row: span 2;
        background-color: co.$White;

        &.__info{
            & .Story{
                color:   hsla(217, 19%, 35%, 0.501);
            }
        }

        & .imgCard {

            & .name_titleCard{
                & .academic{
                    color:   hsla(217, 19%, 35%, 0.501);
                }
            }
        }
    }

    & .imgCard {
        margin: 15px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 200xp;

        & .name_titleCard {
            margin: 0 30px;
        }

        & img {
            border-radius: 50%;
            height: 50%;
            width: 40px;
        }

    }

    &.__info {

        line-height: 1.3rem;

        & .Opinion {
            font-size: 1.5rem;
            line-height: 1.5rem;
        }

        & .Story {
            margin-top: 15px;
        }
    }

}

