@use '../../scss/co';

.container {
    padding: 10px;
    border-radius: 10px;
    line-height: 1.3rem;

    &.__card1 {

        color: co.$White;
        grid-column: span 2;
        background-color: co.$Moderateviolet;
        background-image: url("../../assets/images/bg-pattern-quotation.svg");
        background-position: 80% top;
        background-repeat: no-repeat;
        background-size: 120px;

        & .imgCard {
            
            margin: 10px 0 0 20px;

            & img {
                border: 4px solid hsla(0, 0%, 100%, 0.504)
            
            }

            & .name_titleCard {

                & .academic {
                    color: hsla(0, 0%, 100%, 0.504);
                }
            }
        }

        &.__info {

            background-image: none;
            display: inline;

            & .Opinion{
                margin: 5px 20px;
            }

            & .Story {
                color: hsla(0, 0%, 100%, 0.504);
                margin: 10px 0 10px 20px;
            }

        }

    }

    &.__card2 {
        color: co.$White;
        grid-column: 3;
        background-color: co.$Verydarkgrayishblue;

        & .imgCard {

            & .name_titleCard {
                & .academic {
                    color: hsla(0, 0%, 100%, 0.504);
                }
            }
        }

        &.__info {
            & .Story {
                color: hsla(0, 0%, 100%, 0.504);
            }
        }
    }

    &.__card3 {
        color: hsl(217, 19%, 35%);
        grid-row: 2;
        background-color: co.$White;

        & .imgCard {

            & .name_titleCard {
                & .academic {
                    color: hsla(217, 19%, 35%, 0.501);
                }
            }
        }

        &.__info {

            & .Story {
                color: hsla(217, 19%, 35%, 0.501);
            }
        }

    }

    &.__card4 {
        color: co.$White;
        grid-row: 2;
        grid-column: span 2;
        background-color: co.$Verydarkblackishblue;

        & .imgCard {

            & img {
                border: 4px solid co.$Moderateviolet
            }

            & .name_titleCard {
                & .academic {
                    color: hsla(0, 0%, 100%, 0.504);
                }
            }
        }

        &.__info {
            & .Story {
                color: hsla(0, 0%, 100%, 0.504);
            }
        }
    }

    &.__card5 {
        color: co.$Verydarkgrayishblue;
        grid-row: span 2;
        background-color: co.$White;

        & .imgCard {

            & .name_titleCard {


                & .academic {
                    color: hsla(217, 19%, 35%, 0.501);
                }
            }
        }

        &.__info {
            & .Story {
                color: hsla(217, 19%, 35%, 0.501);
            }
        }
    }

    & .imgCard {
        margin: 15px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 200px;

        & .name_titleCard {
            margin: 0 30px;
        }

        & img {
            border-radius: 50%;
            height: 50%;
            width: 40px;
        }

    }

    &.__info {

        & .Opinion {
            font-size: 1.5rem;
            line-height: 25px;
        }

        & .Story {
            margin-top: 15px;
            line-height: 20px;

        }
    }

}