@use '../../scss/co';

.container {

    margin: 10px;
    padding: 10px;
    border-radius: 10px;


    &.__card1 {
        grid-column: span 2;
        background-color: co.$Moderateviolet;
    }

    & .imgCard {
        margin: 15px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;

        & .name_titleCard {
            position: relative;
            margin: 0 30px;
        }

        & img {
            border: 1px solid white;
            border-radius: 50%;
            height: 50%;
        }

    }

    &.__info {


        & .Opinion{
            font-size: 1.3rem;
        }

        & .Story{
            margin-top: 15px;
        }
    }







}